!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Sunday Reading  
    %link{:href => "http://#{@host}/css/styles.css", :rel => "stylesheet"}
  %body
    %img{:src => "http://#{@host}/images/header.png", :alt => "header"}
    %table
      - @items.each do |item|
        %tr
          %td
            %div 
              = item['title']
            %div
              = item['content']['content']
    %img{:src => "http://#{@host}/images/footer.png", :alt => "footer"}